
.item-inv{
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--background-color);
    display: flex;
}

@media (max-width: 768px) {
    .text-inv p{
        position: relative;
        max-height: 55px;
        overflow: hidden;
        font-size: 12px;
    }
}
@media (max-width: 576px) {
    .text-inv h4{
        font-size: 18px;
    }
}