.listado {
    width: 60%;
    margin: 0 auto;
}

.listado li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.listado li:hover {
    background-color: var(--main-color);
}
@media (max-width: 992px) {
    .listado {
        width: 100%;
        margin: 0 auto;
    }
}