.noticia {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0 10px 0;
}

.noticia-img {
    padding-right: 20px;
    border-right: 1px solid black;
}

.noticia-img p {
    font-size: 14px;
}

.noticia-img img {
    width: 350px;
    height: 200px;
    object-fit: cover;
}

.noticia-body {
    padding-left: 30px;
}

.noticia-body p {
    max-height: 120px;
    overflow: hidden;
    text-align: left;
}

.noticia-body h5 {
    text-align: left;
    margin-bottom: 30px;
}

.noticia-hr {
    border-top: 4px double black;
	text-align: center;
}

.blogItem-link {
     color: rgb(238, 6, 6);  
}

.blogItem-link :hover{
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
}

@media (max-width: 992px) {
    .noticia-img img {
        padding-right: 10px;
        width: 160px;
        height: 100px;
        object-fit: cover;
    }
    .noticia-body {
        padding-left:  10px;
    }
    .noticia-body h5 {
        font-size: 18px;
        text-align: left;
    }
    .noticia-body p {
       display: none;
    }
}
@media (max-width: 576px) {
    .noticia-img img {
        padding-right: 10px;
        width: 120px;
        height: 90px;
        object-fit: cover;
    }
    .noticia-body {
        padding-left:  10px;
    }
    .noticia-body h5 {
        font-size: 16px;
        text-align: left;
    }
    .noticia-body p {
       display: none;
    }
}